<div class="row">
    <div class="col-sm-12">
        <div class="mb-3">
            <h3 class="main-heading">Merger/Transfer - Add a Transfer</h3>
        </div>
    </div>
</div>
<form [formGroup]="addForm">
    <div class="py-3 px-2">
        <div class="row">
            <div class="col-sm-12">
                <mat-radio-group aria-label="Select an option" formControlName="instrumentType">
                    <mat-radio-button color="primary" class="mr-3" value="advance">Advance</mat-radio-button>
                    <mat-radio-button color="primary" value="term">Term</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                    <input type="text" formControlName="fromCustomer" placeholder="From Customer" aria-label="Number" matInput [matAutocomplete]="autofromCustomer">
                    <mat-error *ngIf="errorHandling('fromCustomer', 'required')">From Customer is required.</mat-error>
                    <mat-autocomplete #autofromCustomer="matAutocomplete" (optionSelected)='getFromCustomerId($event.option.id)'>
                        <mat-option *ngFor="let option of fromFilteredOptions | async" [value]="option.customerName" [id]="option.id">
                            {{option.customerName}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                    <input type="text" placeholder="To Customer" formControlName="toCustomer" aria-label="Number" matInput [matAutocomplete]="autotoCustomer">
                    <mat-error *ngIf="errorHandling('toCustomer', 'required')">To Customer is required.</mat-error>
                    <mat-autocomplete #autotoCustomer="matAutocomplete" (optionSelected)='getToCustomerId($event.option.id)'>
                        <mat-option *ngFor="let option of toFilteredOptions | async" [value]="option.customerName" [id]="option.id">
                            {{option.customerName}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="picker" placeholder="Effective date" formControlName="effectiveDate">
                    <mat-error *ngIf="errorHandling('effectiveDate', 'required')">Effective Date is required.</mat-error>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="mt-3 mb-2">
            <div class="row">
                <div class="col-sm-3">
                    <mat-checkbox color="primary" (change)="selectDeselectAll($event)">All Notes - From customers</mat-checkbox>
                </div>
                <div class="col-sm-3">
                    All Notes - To customers
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="customer-list-bdr">
                    <div class="customer-list">
                        <mat-selection-list #fromCustomerNotesSelectList formControlName="notesFromCustomers">
                            <mat-list-option value="{{fromNote.id}}" color="primary" *ngFor="let fromNote of fromCustomerNotesList">
                                {{fromNote.noteNo}}
                            </mat-list-option>
                        </mat-selection-list>
                        <div *ngIf="fromCustomerNotesList.length === 0" class="py-3 px-3">Select From Customer to see notes.</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="customer-list-bdr">
                    <div class="customer-list">
                        <mat-list #toCustomerNotes>
                            <mat-list-item color="primary" *ngFor="let toNote of toCustomerNotesList">
                                {{toNote.noteNo}}
                            </mat-list-item>
                        </mat-list>
                        <div *ngIf="toCustomerNotesList.length === 0" class="py-3 px-3">Select To Customer to see notes.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-4">
            <div class="row">
                <div class="col-sm-12">
                    <button mat-raised-button color="primary" class="mr-2" (click)="submitForm()">TRANSFER</button>
                    <button mat-button class="text-primary" routerLink="../">CANCEL</button>
                </div>
            </div>
        </div>
    </div>
</form>
