<div class="row">
    <div class="col-sm-12">
        <h3 class="main-heading">Customer Financial - Edit Customer</h3>
    </div>
</div>
<form [formGroup]="editFormCustomer">
    <div class="my-4">
        <div class="row">
            <div class="col-sm-4">
                <mat-form-field class="w-100">
                    <input matInput placeholder="Customer Number" formControlName="customerNumber" />
                </mat-form-field>
            </div>
        </div>
        <div class="py-2">
            <div class="row">
                <div class="col-sm-3">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Toatl Asset" formControlName="totalAsset" />
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <label>CMP Flag </label>
                    <mat-radio-group aria-label="Select an option" formControlName="cmpFlag">
                        <mat-radio-button color="primary" class="mr-3" value="Yes">Yes</mat-radio-button>
                        <mat-radio-button color="primary" value="No">No</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-sm-3">
                    <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="updateDate" placeholder="Update Date" formControlName="updateDate">
                        <mat-datepicker-toggle matSuffix [for]="updateDate"></mat-datepicker-toggle>
                        <mat-datepicker #updateDate></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="py-2">
            <div class="row">
                <div class="col-sm-3">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="MTG 14 Family Amount" formControlName="mtg14FamilyAmt" />
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Total RFHA" formControlName="totalRFHA" />
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="MVA%" formControlName="mvaPercentage" />
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="py-2">
            <div class="row">
                <div class="col-sm-3">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Capital Compliant Level" formControlName="capitalCompliantLevel" />
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Watch Status" formControlName="watchStatus" />
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Credit Score" formControlName="creditScore" />
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="py-2">
            <div class="row">
                <div class="col-sm-3">
                    <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="picker" placeholder="Watch Status Effective Date" formControlName="watchStatusEffectiveDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Total Eligibile Collateral Amount" formControlName="totalEligibileCollateralAmount" />
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Security Eligibile Collateral Amount" formControlName="securityEligibileCollateralAmount" />
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-sm-12">
                <button mat-raised-button color="primary" class="mr-2" (click)="submitForm()">ADD NEW CUSTOMER</button>
                <button mat-button class="text-primary" routerLink="../">CLEAR</button>
            </div>
        </div>

    </div>
</form>
