<div class="row">
    <div class="col-sm-12">
        <h3 class="main-heading">Advance - Purpose Type - Add New</h3>
    </div>
</div>
<form >
    <div class="row">
        <div class="col-sm-3">
            <mat-form-field class="w-100">
                <input matInput placeholder="Purpose Type Code" />
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field class="w-100">
                <input matInput placeholder="Purpose Type Description" />
            </mat-form-field>
        </div>
    </div>
</form>
<div class="row my-4">
    <div class="col-sm-12">
        <button mat-raised-button color="primary" class="mr-2">ADD</button>
        <button mat-button class="text-primary" routerLink="../">CANCEL</button>
    </div>
</div>
