<div class="row">
    <div class="col-sm-12">
        <div class="mb-2">
            <div class="float-left">
                <h3 class="main-heading">Advance - Purpose Type</h3>
            </div>
            <div class="float-right">
                <button mat-button [matMenuTriggerFor]="menu"><fa-icon icon="file-export" class="pr-2"></fa-icon>Export<fa-icon icon="chevron-down" class="pl-2"></fa-icon></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="exporter.exportTable('csv')"><fa-icon icon="file-csv" class="pr-2"></fa-icon>CSV</button>
                    <button mat-menu-item (click)="exporter.exportTable('xls')"><fa-icon icon="file-excel" class="pr-2"></fa-icon>EXCEL</button>
                </mat-menu>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>

<div class="py-3 bg-white">
    <div class="px-2">
    <div class="float-right">
        <button mat-raised-button color="primary" routerLink="./add">ADD NEW</button>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><div class="px-2">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Search" (input)="applyFilter($event.target.value)">
                <mat-icon matSuffix class="text-secondary">search</mat-icon>
            </mat-form-field>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table mat-table matTableExporter [dataSource]="dataSource" matSort class="mat-elevation-z8" #exporter="matTableExporter">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="d-none"> id </th>
                    <td mat-cell *matCellDef="let element" class="d-none"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="purposeTypeCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Purpose Type Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.purposeTypeCode}} </td>
                </ng-container>

                <ng-container matColumnDef="purposeTypeDescription">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Purpose Type Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.purposeTypeDescription}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <a (click)="editPurpoeType(element)"><fa-icon icon="edit" class="pr-2 text-primary" size="lg"></fa-icon></a>
                        <a (click)="openDialog(element.id)"><fa-icon icon="times" size="lg" class="text-danger"></fa-icon></a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{'gray': even}" class="cursor-pointer"></tr>
            </table>
            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
        </div>
    </div>
</div>


