<div class="row">
    <div class="col-sm-12">
        <h3 class="main-heading">Advance - Purpose Type - Edit</h3>
    </div>
</div>
<form [formGroup]="editForm">
    <div class="row">
        <div class="col-sm-3">
            <mat-form-field class="w-100">
                <input matInput placeholder="Purpose Type Code" formControlName="purposeTypeCode" />
                <mat-error *ngIf="errorHandling('purposeTypeCode', 'required')">Purpose Type Code is required.</mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field class="w-100">
                <input matInput placeholder="Purpose Type Description" formControlName="purposeTypeDescription" />
                <mat-error *ngIf="errorHandling('purposeTypeDescription', 'required')">Purpose Type Description is required.</mat-error>
            </mat-form-field>
        </div>
    </div>
</form>
<div class="row my-4">
    <div class="col-sm-12">
        <button mat-raised-button color="primary" class="mr-2" (click)="submitForm()" [disabled]="!editForm.valid">UPDATE</button>
        <button mat-button class="text-primary" routerLink="../../">CANCEL</button>
    </div>
</div>
