@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  background-color: #ffffff !important;
  padding: 0 1rem;
  -webkit-box-shadow: 0 8px 7px -3px #c6c6c6;
  box-shadow: 0 8px 7px -3px #c6c6c6;

  a.nav-link {
    font-weight: 500;
    padding: 0.5rem 0 0 0;
  }

  .navbar-title {
    font-size: 1.125rem;
    font-weight: 500;
    color: #000000;
    position: relative;
    top: 13px;
  }
}

.navbar-brand {
  padding: 0;
}

.logo-img {
  height: 75px;
  width: 258px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo.png') no-repeat center center;
  background-size: contain;
  margin: 0.5rem 0;
}
.custom {
  .nav-item {
    .dropdown-menu {
      top: 90px !important;
      transform: none !important;
      width: 100% !important;
    }
  }
}

.dropdown-menu {
  .cds-menu {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0 20%;
    .cds-menu-item {
      flex: 1 0 calc(33.333%);
      max-width: calc(33.333%);
      .dropdown-item {
        background-color: #ffffff;
        color: #000000 !important;
        font-weight: normal;
        &.active {
          color: #2ea3f2 !important;
        }
        &:hover {
          color: #2ea3f2 !important;
        }
      }
    }
  }
}
