<div class="p-3">
    <h5>Reports</h5>
    <div class="row mx-0">
        <div class="col-sm-6 px-0 py-1 bdr-bottom-gray">
            <div class="float-left">
                <fa-icon icon="file-pdf" class="pr-2"></fa-icon>Report Name XYZ.PDF
            </div>
        </div>
        <div class="col-sm-6 px-0 py-1 bdr-bottom-gray">
            <div class="float-right">12/05/2019</div>
        </div>
    </div>
    <div class="row mx-0">
        <div class="col-sm-6 px-0 py-1 bdr-bottom-gray">
            <div class="float-left">
                <fa-icon icon="file-csv" class="pr-2"></fa-icon>Report Name XYZ.CSV
            </div>
        </div>
        <div class="col-sm-6 px-0 py-1 bdr-bottom-gray">
            <div class="float-right">12/05/2019</div>
        </div>
    </div>
    <div class="row mx-0">
        <div class="col-sm-6 px-0 py-1 bdr-bottom-gray">
            <div class="float-left">
                <fa-icon icon="file-pdf" class="pr-2"></fa-icon>Report Name XYZ.PDF
            </div>
        </div>
        <div class="col-sm-6 px-0 py-1 bdr-bottom-gray">
            <div class="float-right">12/05/2019</div>
        </div>
    </div>
    <div class="row mx-0">
        <div class="col-sm-6 px-0 py-1 bdr-bottom-gray">
            <div class="float-left">
                <fa-icon icon="file-pdf" class="pr-2"></fa-icon>Report Name XYZ.PDF
            </div>
        </div>
        <div class="col-sm-6 px-0 py-1 bdr-bottom-gray">
            <div class="float-right">12/05/2019</div>
        </div>
    </div>
    <div class="row mx-0 mx-0">
        <div class="col-sm-12 px-0">&nbsp;</div>
    </div>
    <div class="row mx-0">
        <div class="col-sm-12 px-0">
            <div class="float-right"><a href="">View All</a></div>
        </div>
    </div>
</div>


