<div class="p-3">
    <h5>Maintenance</h5>
    <div class="row">
        <div class="col-sm-12">
            <div class="float-right">
                <div class="d-inline-block mr-3" style="max-width: 250px;">
                    <mat-form-field>
                        <mat-label>Type</mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option value="option3">Customer Financials</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="d-inline-block" style="max-width: 250px;">
                    <mat-form-field>
                        <mat-label>Days</mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option value="option3">Last 15 Days</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>
