<div class="row">
    <div class="col-sm-12">
          <div [ngSwitch]="isAuthenticated()">
              <h3 *ngSwitchCase="false">Welcome to Credit and Deposit Administration!</h3>
              <h3 *ngSwitchCase="true" class="main-heading">My Workbench</h3>
                <div *ngSwitchCase="true">
                    <div>
                        <div class="d-flex align-items-stretch bd-highlight">
                            <div class="box-shadow my-2 mr-2" style="flex-basis: 70%;">
                                <jhi-mergetransfers></jhi-mergetransfers>
                            </div>
                            <div class="box-shadow my-2 ml-2" style="flex-basis: 30%;">
                                <jhi-homenotifications></jhi-homenotifications>
                            </div>
                        </div>
                        <div class="d-flex align-items-stretch bd-highlight">
                            <div class="box-shadow mb-4 mt-2 mr-2" style="flex-basis: 60%;">
                                <jhi-homemaintenance></jhi-homemaintenance>
                            </div>
                            <div class="box-shadow mb-4 mt-2 ml-2" style="flex-basis: 40%;">
                                <jhi-homereports></jhi-homereports>
                            </div>
                        </div>
                    </div>
                </div>

                  <div class="alert alert-success" *ngSwitchCase="true">
                      <span id="home-logged-message" *ngIf="account"> You are logged in as user "{{account.login}}". </span>
                  </div>

                <div class="alert alert-warning" *ngSwitchCase="false">
                    <span>If you want to </span>
                    <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
                </div>
        </div>


    </div>
</div>
